@charset "UTF-8";

   /* 
     em HTML é id = em CSS é # (so pode um elemento)
     em HTML é class = em CSS é . ( pode varios elementos

   */


body{ 
    background-color: rgb(0, 162, 255);
    font-family: Arial, Helvetica, sans-serif;

}

h1{
  color: rgb(238, 19, 19);
  

}

h1#principal{
    text-align: center;
    background-color: rgb(226, 162, 43);
    color: brown;


}

.basico{
    color: rgb(32, 148, 32);
   }
.intermediario{
    color: rgb(158, 7, 108);
}  
.avancado{
    color: rgb(0, 255, 128);
}


h2{
    color: darkgray;
  
}

.destaque{
    background-color: gold;
}